div.content{
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div {
    background-color: rgba(139, 156, 119, 0.789);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.352);
    padding: 20px;

}

